
@{
    ViewData["Title"] = "News";
}

<section class="wrapper">
    <div class="container-companies">
        <a class="compani-stor" href="#">
            <div class="compani">
                <div class="compani-logo">


                </div>
                <div class="compani-contents">
                    <p class="compani-contents-Name">Mitsubishi Avtomobil Mərkəzi</p>
                    <span>Avtoservisler</span>
                    <p class="compani-contents-location"><i class="fas fa-map-marker-alt"></i></i>Bakı-Sumqayıt şossesi, 6-cı km. </p>

                    <p class="compani-contents-contact"><i class="fas fa-phone-volume"></i>(050) 289-09-85, (050) 289-09-80; </p>


                </div>
            </div>

        </a>
    </div>
    <div class="container-companies">
        <a class="compani-stor" href="#">
            <div class="compani">
                <div class="compani-logo">


                </div>
                <div class="compani-contents">
                    <p class="compani-contents-Name">Subaru Avtomobil Mərkəzi</p>
                    <span>Avtoservisler</span>
                    <p class="compani-contents-location"><i class="fas fa-map-marker-alt"></i></i>Bakı-Sumqayıt şossesi, 6-cı km. </p>

                    <p class="compani-contents-contact"><i class="fas fa-phone-volume"></i>(050) 289-09-85, (050) 289-09-80; </p>


                </div>
            </div>

        </a>
    </div>
    <div class="container-companies">
        <a class="compani-stor" href="#">
            <div class="compani">
                <div class="compani-logo">


                </div>
                <div class="compani-contents">
                    <p class="compani-contents-Name">Hunday Auto Azerbaycan</p>
                    <span>Avtoservisler</span>
                    <p class="compani-contents-location"><i class="fas fa-map-marker-alt"></i></i>Bakı-Sumqayıt şossesi, 6-cı km. </p>

                    <p class="compani-contents-contact"><i class="fas fa-phone-volume"></i>(050) 289-09-85, (050) 289-09-80; </p>


                </div>
            </div>

        </a>
    </div>
    <div class="container-companies">
        <a class="compani-stor" href="#">
            <div class="compani">
                <div class="compani-logo">


                </div>
                <div class="compani-contents">
                    <p class="compani-contents-Name">Avto Best</p>
                    <span>Avtoservisler</span>
                    <p class="compani-contents-location"><i class="fas fa-map-marker-alt"></i></i>Bakı-Sumqayıt şossesi, 6-cı km. </p>

                    <p class="compani-contents-contact"><i class="fas fa-phone-volume"></i>(050) 289-09-85, (050) 289-09-80; </p>


                </div>
            </div>

        </a>
    </div>
    <div class="container-companies">
        <a class="compani-stor" href="#">
            <div class="compani">
                <div class="compani-logo">


                </div>
                <div class="compani-contents">
                    <p class="compani-contents-Name">Gulf Oil Azerbaycan</p>
                    <span>Avtoservisler</span>
                    <p class="compani-contents-location"><i class="fas fa-map-marker-alt"></i></i>Bakı-Sumqayıt şossesi, 6-cı km. </p>

                    <p class="compani-contents-contact"><i class="fas fa-phone-volume"></i>(050) 289-09-85, (050) 289-09-80; </p>


                </div>
            </div>

        </a>
    </div>
    <div class="container-companies">
        <a class="compani-stor" href="#">
            <div class="compani">
                <div class="compani-logo">


                </div>
                <div class="compani-contents">
                    <p class="compani-contents-Name">Mazda Avtomabil Azermaycan</p>
                    <span>Avtoservisler</span>
                    <p class="compani-contents-location"><i class="fas fa-map-marker-alt"></i></i>Bakı-Sumqayıt şossesi, 6-cı km. </p>

                    <p class="compani-contents-contact"><i class="fas fa-phone-volume"></i>(050) 289-09-85, (050) 289-09-80; </p>


                </div>
            </div>

        </a>
    </div>
    <div class="container-companies">
        <a class="compani-stor" href="#">
            <div class="compani">
                <div class="compani-logo">


                </div>
                <div class="compani-contents">
                    <p class="compani-contents-Name">Turbo Service</p>
                    <span>Avtoservisler</span>
                    <p class="compani-contents-location"><i class="fas fa-map-marker-alt"></i></i>Bakı-Sumqayıt şossesi, 6-cı km. </p>

                    <p class="compani-contents-contact"><i class="fas fa-phone-volume"></i>(050) 289-09-85, (050) 289-09-80; </p>


                </div>
            </div>

        </a>
    </div>
    <div class="container-companies">
        <a class="compani-stor" href="#">
            <div class="compani">
                <div class="compani-logo">


                </div>
                <div class="compani-contents">
                    <p class="compani-contents-Name">Tayota Azebaycan Mərkəzi</p>
                    <span>Avtoservisler</span>
                    <p class="compani-contents-location"><i class="fas fa-map-marker-alt"></i></i>Bakı-Sumqayıt şossesi, 6-cı km. </p>

                    <p class="compani-contents-contact"><i class="fas fa-phone-volume"></i>(050) 289-09-85, (050) 289-09-80; </p>


                </div>
            </div>

        </a>
    </div>
    <div class="container-companies">
        <a class="compani-stor" href="#">
            <div class="compani">
                <div class="compani-logo">


                </div>
                <div class="compani-contents">
                    <p class="compani-contents-Name">Honda Avtomobil Mərkəzi</p>
                    <span>Avtoservisler</span>
                    <p class="compani-contents-location"><i class="fas fa-map-marker-alt"></i></i>Bakı-Sumqayıt şossesi, 6-cı km. </p>

                    <p class="compani-contents-contact"><i class="fas fa-phone-volume"></i>(050) 289-09-85, (050) 289-09-80; </p>


                </div>
            </div>

        </a>
    </div>


</section>
